* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00e5cc;
  --para-color: #9090a7;
  --secondary-color: #060640;
  --bg-color: #ecf9ff;
  --max-container: 1340px;
  --size-small: 640px;
  --size-medium: 768px;
  --size-large: 1024px;
}

/* airbnb font family  */
@font-face {
  font-family: "Airbnb";
  src: url("/assets/font/AirbnbCereal_W_Lt.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Airbnb";
  src: url("/assets/font/AirbnbCereal_W_Bd.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Airbnb";
  src: url("/assets/font/AirbnbCereal_W_Blk.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Airbnb";
  src: url("/assets/font/AirbnbCereal_W_Md.otf");
  font-weight: 400;
}

body {
  font-family: "Airbnb", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* logo  */
a.logo span {
  color: #00e5cc;
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

h2 {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 122.222% */
}

/* container  */
.container {
  max-width: 1340px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* start header  */

header {
  background-color: var(--bg-color);
  padding: 20px 0;
}
header nav {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 20px;
  padding: 0 20px;
}

header nav .logo {
  color: var(--secondary-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

header nav .nav-links a:hover {
  color: var(--primary-color);
}

header nav ul li a {
  color: var(--para-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}

header nav .active {
  color: var(--primary-color);
}

header .signin {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header .trial-btn {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* end header  */

/* start bussiness  section  */

#business {
  background-color: var(--bg-color);
}

#bussiness_btns {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

#business .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20;
  padding: 70px 5px;
  /* align-items: center; */
}
#business .bussiness-img {
  grid-column: span 2;
}

#business p {
  padding: 20px 0;
}

#started_btn {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 20px;
}

#business #video_btn img {
  width: 45px;
}

#business #video_btn {
  background-color: transparent;
  border: none;
  display: flex;

  align-items: center;
}

/* end bussiness  section  */
/* start work  section  */

#work {
  padding: 100px 5px;
}
#work h2 {
  padding: 50px 0;
  text-align: center;
  color: var(--secondary-color);
}
#work .container > p {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.work-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px 0;
}
.work-cards .work-card {
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 30px 50px 0px #0303250f;
  padding: 20px;
  border: 1px solid #f6f1f1;
}
.work-cards .card-body {
  padding: 10px 0;
  text-align: left;
}
.work-card img {
  border-radius: 10px;
  padding: 10px;
  background-color: #ecf9ffcc;
}
.work-card h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 141.667% */
  color: var(--secondary-color);
}
.work-card .card-body p {
  color: var(--para-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 15px 0;
}

/* end work  section  */

/* start about us  */

#about {
  padding: 60px 5px;
  position: relative;
  background-color: #f8f4f44b;
  position: relative;
}

#about .container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 20px; */
  justify-content: space-between;
}

#about .first {
  grid-column: span 3;
}

#about #man {
  grid-column: span 4;
  text-align: right;
  position: relative;
}

#man {
  position: relative;
}
#man #photo {
  max-width: 475px;
  transform: scale(1.2);
  transform-origin: bottom;
  position: absolute;
  bottom: -80px;
  right: 30px;
}

#medal {
  position: absolute;
}

#group {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.7);
}
#graph {
  position: absolute;
  bottom: -200px;
  left: 50px;
  transform: scale(0.8);
  /* width: 233.333px; */
  /* height: 217px; */
}

#about h2 {
  color: var(--secondary-color);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 122.222% */
  padding: 50px 0;
}

#about .card {
  display: flex;
  gap: 20px;
  align-items: start;
  padding: 15px 0;
}
#about .card img {
  border-radius: 12px;
  background: rgba(236, 249, 255, 0.8);
  padding: 10px;
  width: 60px;
  height: 60px;
}

/* end about us */

/* start global promotion  */

.global-promotion {
  margin: auto;
  text-align: center;
}

.global-promotion h2 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 122.222% */
  padding: 50px 0;
}
.global-promotion p {
  max-width: 700px;
  margin: 0 auto;
}

#frame {
  width: 100%;
  max-width: 950px;
}

/* end global promotion  */

/* start newsletter  */

.newsletter {
  max-width: 1170px;
  background-color: #ecfdff;
  border-radius: 7px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  box-sizing: border-box;
  padding: 60px 60px 0px;
  /* align-items: end; */
  /* grid-template-columns: repeat(3, 1fr); */
}
.subscribe {
  grid-column: span 2;
  padding-bottom: 30px;
}

.subscribe p {
  font-size: 16px;
  padding: 20px 0;
}

.subscribe form {
  background-color: #fff;
  display: flex;
  padding: 8px;
  border-radius: 5px;
  width: 80%;
  align-items: center;
}
.subscribe form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: none;
  margin: 10px;
}
.subscribe input:focus {
  outline: none;
}
.subscribe input::placeholder {
  color: var(--para-color);
  font-size: 20px;
}
.subscribe button {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 15px 30px;
  border: none;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

#promotion-man {
  /* height: f; */
  grid-column: span 1;
  text-align: right;
  box-sizing: border-box;
  position: relative;
}

#promotion-man img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 270px;
  scale: 1.1;
  transform-origin: bottom;
}

/* end newsletter  */

/* start packages  */

#packages {
  background: #ecf9ff;
  padding: 40px 5px;
  position: relative;
}

#packages .round-svg1 {
  position: absolute;
  right: 80px;
  top: 70px;
  transform: scale(0.7);
}
#packages .round-svg2 {
  position: absolute;
  right: 80px;
  top: 70px;
  transform: scale(1.6);
  /* transform: rotate(180deg); */
}

#packages h2 {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  color: var(--secondary-color);
  padding: 50px 0;
}

.packages .package {
  max-width: 370px;
  border-radius: 14px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
}

.packages .package:hover {
  background: #fff;
}

.package .price {
  color: var(--primary-color);
}
.package h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 20px 0;
}
.package p {
  color: var(--para-color);
  margin-left: 30px;
}
.package img {
  width: 100%;
  border-radius: 5px;
}

.package .users {
  display: flex;
  align-items: center;
}

.package .package-content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.package .avaters img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: -15px;
}

/* end packages  */

/* footer  */

footer .footer-widget {
  background-color: var(--secondary-color);
  padding: 50px 5px;
}

footer .social-links {
  max-width: var(--max-container);
  margin: 0 auto;
}

/* footer logo  */
footer .social-links .logo {
  font-size: 50px;
}

footer h3,
a.logo {
  color: #fff;
}
footer a,
p {
  color: var(--para-color);
}

footer .social {
  margin: 0 auto;
  text-align: center;
}

.social-links .social ul {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-links .social ul li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: 1px solid var(--para-color);
  border-radius: 100%;
}

.social-links ul li,
h3 {
  text-align: center;
}

.social-links .social ul li:hover {
  border-color: var(--primary-color);
}
.social-links .social ul li:hover i {
  color: var(--primary-color);
}

footer h3 {
  padding: 20px 0 10px 0;
}

footer li a:hover {
  color: var(--primary-color);
}

.social-links .links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

footer .copyright {
  background-color: #000020;
}
.copyright div {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 15px 10px;
  text-align: center;
}
.copyright div p {
  padding: 4px 0px;
}

@media screen and (min-width: 640px) {
  footer .social {
    text-align: center;
  }
  .social-links .social ul {
    justify-content: center;
  }
  footer .copyright div {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 27px 10px;
  }

  /* .social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  } */

  .social-links .links {
    grid-column: span 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .social-links ul li,
  h3 {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  footer .social {
    text-align: left;
  }
  .social-links .social ul {
    justify-content: flex-start;
  }
  footer .copyright div {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 27px 10px;
  }

  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .social-links .links {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .social-links ul li,
  h3 {
    text-align: left;
  }
}
